h1 {
	color: #FF66CC;	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	letter-spacing: 8px;
	font-size: 50px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	position: relative;
	bottom: 20px;
}
	
body{
	font-family: 'Raleway', sans-serif;
	background-image: url('Background.JPG');
	background-position: right center;
	background-repeat: repeat;
	background-attachment: scroll;
	margin: 10px;
	text-align: left;
	color: white;
}

.ProfilePic img {
	height: 300px;
    width: auto;
	display: inline;
	list-style: none;
}

.Profile {
	float: left;
	color: white;
	text-align: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
    position: relative;
    left: 50px;
    bottom: 40px;
}

.ProfilePic {
	margin-top: 1.5em;
	margin: 10px;
	float: none;
}

.Logo img {
	height: auto;
    width: 125px;
}

.Logo {
	margin: 10px;
}

a:link {
    color: white;
    text-decoration: none
}

a:visited {
	color: white;
}

a:hover {
	color: #FF66CC;
}

a:active {
	color: #FF66CC;
}

.SubMenu li {
	position: relative;
	bottom: 60px;
}

.Menu li {
	display: inline-block;
	padding: 10px;
	letter-spacing: 5px;
	word-spacing: 15px;
}

.Job {
	float: left;
	margin: 10px;
	padding: 25px;
	width: 300px;
	height: 300px;
}

.JobTitle {
	color: white;
	font-size: 20px;
	float: left;
	text-align: center;
	padding: 15px;
}

.Text {
	color: black;
    position: relative;
    top: -100px;
    left: 60px;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding bottom: 0px;
}

.Bullets {
	position: relative;
	left: 5px;
}

.Bullets:hover {
	color: white;
}