h1 {
	color: #FF66CC;	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	letter-spacing: 8px;
	font-size: 50px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

body{
	font-family: 'Raleway', sans-serif;
	background-image: url('Background.JPG');
	background-position: right center;
	background-repeat: repeat;
	margin: 10px;
	text-align: left;
	display: inline;
	color: white;
}

.ProfilePic img {
	height: 275px;
    width: auto;
	display: inline;
	list-style: none;
}

.Profile {
	float: left;
	color: white;
	text-align: center;
	border: solid white 5px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.ProfilePic {
	margin-top: 1.5em;
	margin: 10px;
	float: none;
}

a:link {
    text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #FF66CC;
}

a:active {
    color: #FF66CC;
}

li{
	display: inline-block;
	padding: 10px;
	letter-spacing: 5px;
	word-spacing: 15px;
}