h1 {
	color: black;
	opacity: 0.65;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: crimson;
	letter-spacing: 8px;
	font-size: 50px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	position: relative;
	bottom: 20px;
}
	
body{
	font-family: 'Raleway', sans-serif;
	background-color: #66CCCC;
	padding: 10px;
	page-border-style: dotted;
	page-border-width: 4px;
	page-border-color: crimson;
	margin: 20px;
	text-align: left;
	color: crimson;
}

.ProfilePic img {
	height: 300px;
    width: auto;
	display: inline;
	list-style: none;
}

.Profile {
	float: left;
	color: crimson;
	text-align: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
    position: relative;
    left: 50px;
    bottom: 40px;
}

.ProfilePic {
	margin-top: 1.5em;
	margin: 10px;
	float: none;
}

.Logo img {
	height: auto;
    width: 125px;
}

.Logo {
	margin: 10px;
}

a:link {
    color: white;
    text-decoration: none
}

a:visited {
	color: white;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}

.SubMenu li {
	position: relative;
	bottom: 60px;
	background-color: crimson;
	opacity: 0.6
}

.Menu li {
	display: inline-block;
	padding: 10px;
	letter-spacing: 5px;
	word-spacing: 15px;
}


.Time {
	text-align: center;
	color: crimson;
	opacity: 0.65;
}

.Job {
	float: left;
	margin: 5px;
	padding: 25px;
	width: 300px;
	height: 300px;
}

.JobTitle {
	color: crimson;
	opacity: 0.65;
	font-size: 20px;
	float: left;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.Text {
	color: black;
    position: relative;
    top: -100px;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding bottom: 0px;
}

.Bullets {
	position: relative;
	left: 5px;
	text-align: left;
}

.Bullets:hover {
	color: crimson;
}

.Description {
	position: relative;
	left: 20px;
}

.ArtGallery {
    margin: 5px;
    padding: 5px;
    float: left;
    text-align: center;
}

.ArtGallery img {
	height: auto;
    width: 280px;
	display: inline;
    margin: 5px;
    border: 3px solid black;
}

.Header {
	position: relative;
	top: -20px;
	left: 15px;
	color: black;
	font-size: 20px;
}

.Banner {
	font-size: 30px;
	position: relative;
	top: -10px;
	left: 15px;
}

.Gallery {
	float: left;
	margin: 2px;
	padding: 2px;
	width: 300px;
	height: 300px;
}